Repository registreerocks/rtc-data, pull requests merged in 2021-06, with the labels that each got.

#77 address cargo check ✨ and enable cargo fix 🎉
  rtc_auth_enclave/src/lib.rs
  rtc_data_enclave/src/data_upload.rs
  rtc_data_enclave/src/lib.rs
  rtc_data_service/build.rs
  rtc_data_service/http_server/build.rs
  rtc_data_service/http_server/src/main.rs
  rtc_data_service/http_server/src/tls.rs
  rtc_data_service/src/app_config.rs
  rtc_data_service/src/data_upload/message.rs
  rtc_data_service/tests/server.rs
  rtc_tenclave/src/dh/sessions.rs
  rtc_tenclave/src/dh/types.rs
  rtc_tenclave/src/kv_store/fs/std_filer.rs
  rtc_tenclave/src/lib.rs
  rtc_uenclave/data-sys/src/lib.rs
  rtc_uenclave/src/enclaves/rtc_data.rs
  rtc_uenclave/src/rtc_enclave.rs
Labels: maintenance

#86 Created execution enclave crate
  Cargo.toml
  codegen/exec_enclave/bindings.h
  codegen/exec_enclave/rtc_exec_t.c
  codegen/exec_enclave/rtc_exec_t.h
  codegen/exec_enclave/rtc_exec_u.c
  codegen/exec_enclave/rtc_exec_u.h
  rtc_exec_enclave/Cargo.lock
  rtc_exec_enclave/Cargo.toml
  rtc_exec_enclave/Enclave.config.xml
  rtc_exec_enclave/Enclave.lds
  rtc_exec_enclave/Enclave_private.pem
  rtc_exec_enclave/Makefile
  rtc_exec_enclave/build.rs
  rtc_exec_enclave/rtc_exec.edl
  rtc_exec_enclave/rust-toolchain
  rtc_exec_enclave/src/lib.rs
  rtc_exec_enclave/x86_64-unknown-linux-sgx.json
Labels: enhancement

#88 build: better Makefile crate dependency definitions
  rtc_auth_enclave/Makefile
  rtc_data_enclave/Makefile
  rtc_exec_enclave/Makefile
Labels: maintenance

#91 test(rtc_data_service): fix docstring
  rtc_data_service/tests/helpers/mod.rs
Labels: data_service, maintenance

#92 feat: /exec/attest endpoint
  rtc_data_service/http_server/src/main.rs
  rtc_data_service/src/handlers.rs
  rtc_data_service/tests/helpers/mod.rs
  rtc_data_service/tests/web_api/attestation.rs
  rtc_data_service/tests/web_api/snapshots/main__web_api__attestation__exec_service_attestation_ok-2.snap
  rtc_data_service/tests/web_api/snapshots/main__web_api__attestation__exec_service_attestation_ok.snap
Labels: enhancement, exec_enclave

#93 feat(rtc_types): add serialization helpers: byte_formats::rkyv_format
  Cargo.lock
  rtc_auth_enclave/Cargo.lock
  rtc_data_enclave/Cargo.lock
  rtc_exec_enclave/Cargo.lock
  rtc_tenclave/Cargo.lock
  rtc_types/Cargo.toml
  rtc_types/src/byte_formats/mod.rs
  rtc_types/src/byte_formats/rkyv_format.rs
  rtc_types/src/lib.rs
Labels: enhancement

#96 build(enclaves): fix EDL file references
  rtc_auth_enclave/build.rs
  rtc_data_enclave/build.rs
  rtc_exec_enclave/build.rs
Labels: auth_enclave, data_enclave, exec_enclave, maintenance

#97 build: add all.sh (plus README updates)
  README.md
  _hack_timestamp.sh
  all.sh
Labels: maintenance

#98 feat(rtc_types): add enclave_messages, with set_access_key
  codegen/auth_enclave/bindings.h
  codegen/data_enclave/bindings.h
  codegen/exec_enclave/bindings.h
  rtc_tenclave/src/dh/protected_channel.rs
  rtc_types/src/enclave_messages/ffi_set_access_key.rs
  rtc_types/src/enclave_messages/mod.rs
  rtc_types/src/enclave_messages/set_access_key.rs
  rtc_types/src/lib.rs
Labels: enhancement

#101 feat(rtc_types::ecall_result): add EcallResult::map method
  rtc_types/src/ecall_result.rs
Labels: enhancement, rtc_types

#102 fix(tenclave): use sgxfs read for correct not-found error handling
  rtc_tenclave/src/kv_store/fs/sgx_filer.rs
Labels: bug, tenclave

#94 Add basic sample functions
  rtc_exec_enclave/Cargo.lock
  rtc_exec_enclave/Cargo.toml
  rtc_exec_enclave/src/lib.rs
  rtc_exec_enclave/src/sample_functions.rs
  rtc_exec_enclave/src/types.rs
Labels: enhancement, exec_enclave

#103 deps(rtc_types,rtc_tenclave,rtc_data_enclave): thiserror-sgx: specify "tag = sgx_1.1.3"
  Cargo.lock
  rtc_auth_enclave/Cargo.lock
  rtc_data_enclave/Cargo.lock
  rtc_data_enclave/Cargo.toml
  rtc_exec_enclave/Cargo.lock
  rtc_tenclave/Cargo.lock
  rtc_tenclave/Cargo.toml
  rtc_types/Cargo.toml
Labels: maintenance

#104 feat(DhSessions): add `with_acquire_*` helpers and `AcquireSessionError`
  rtc_tenclave/src/dh/sessions.rs
  rtc_types/src/enclave_messages/errors.rs
  rtc_types/src/enclave_messages/mod.rs
Labels: M: tenclave, M: types, enhancement

#105 feat(rtc_types): more enclave message work for set_access_key
  cbindgen_enclaves.toml
  codegen/auth_enclave/bindings.h
  codegen/data_enclave/bindings.h
  codegen/exec_enclave/bindings.h
  rtc_auth_enclave/build.rs
  rtc_data_enclave/build.rs
  rtc_exec_enclave/build.rs
  rtc_tenclave/src/dh/sealing.rs
  rtc_types/src/enclave_messages/errors.rs
  rtc_types/src/enclave_messages/ffi_set_access_key.rs
  rtc_types/src/enclave_messages/set_access_key.rs
Labels: M: types

#99 Add implementation for execution token issuance
  HACKING.md
  codegen/auth_enclave/bindings.h
  codegen/auth_enclave/rtc_auth_t.c
  codegen/auth_enclave/rtc_auth_t.h
  codegen/auth_enclave/rtc_auth_u.c
  codegen/auth_enclave/rtc_auth_u.h
  rtc_auth_enclave/Cargo.lock
  rtc_auth_enclave/Cargo.toml
  rtc_auth_enclave/rtc_auth.edl
  rtc_auth_enclave/src/jwt.rs
  rtc_auth_enclave/src/lib.rs
  rtc_auth_enclave/src/token_store.rs
  rtc_data_enclave/Cargo.lock
  rtc_data_enclave/Cargo.toml
  rtc_data_service/tests/ecalls/issue_execution_token.rs
  rtc_data_service/tests/ecalls/mod.rs
  rtc_data_service/tests/main.rs
  rtc_data_service/tests/web_api/data_upload.rs
  rtc_exec_enclave/Cargo.lock
  rtc_tenclave/Cargo.lock
  rtc_tenclave/Cargo.toml
  rtc_tenclave/src/kv_store/fs/mod.rs
  rtc_tenclave/src/kv_store/mod.rs
  rtc_types/src/exec_token.rs
  rtc_types/src/lib.rs
  rtc_uenclave/src/enclaves/rtc_auth.rs
Labels: M: auth_enclave, enhancement

#95 style(rustfmt): format imports
  .rustfmt.toml
  rtc_data_enclave/src/data_upload.rs
  rtc_data_enclave/src/lib.rs
  rtc_data_enclave/src/ocalls.rs
  rtc_data_service/http_server/src/main.rs
  rtc_data_service/http_server/src/tls.rs
  rtc_data_service/src/app_config.rs
  rtc_data_service/src/auth_enclave_actor.rs
  rtc_data_service/src/data_enclave_actor.rs
  rtc_data_service/src/data_upload/message.rs
  rtc_data_service/src/data_upload/service.rs
  rtc_data_service/src/exec/message.rs
  rtc_data_service/src/exec/service.rs
  rtc_data_service/src/exec_enclave_actor.rs
  rtc_data_service/src/exec_token/message.rs
  rtc_data_service/src/exec_token/service.rs
  rtc_data_service/src/handlers.rs
  rtc_data_service/src/merge_error.rs
  rtc_data_service/tests/helpers/mod.rs
  rtc_data_service/tests/web_api/data_upload.rs
  rtc_data_service/tests/web_api/exec.rs
  rtc_data_service/tests/web_api/exec_token.rs
  rtc_tenclave/src/crypto.rs
  rtc_tenclave/src/dh/protected_channel.rs
  rtc_tenclave/src/dh/sessions.rs
  rtc_tenclave/src/dh/types.rs
  rtc_tenclave/src/enclave.rs
  rtc_tenclave/src/kv_store/fs/inspect.rs
  rtc_tenclave/src/kv_store/fs/mod.rs
  rtc_tenclave/src/kv_store/fs/sgx_filer.rs
  rtc_tenclave/src/kv_store/fs/std_filer.rs
  rtc_tenclave/src/kv_store/in_memory.rs
  rtc_tenclave/src/kv_store/inspect.rs
  rtc_tenclave/src/kv_store/tests.rs
  rtc_types/src/byte_formats/rkyv_format.rs
  rtc_types/src/data_upload.rs
  rtc_types/src/dh.rs
  rtc_types/src/lib.rs
  rtc_udh/src/lib.rs
  rtc_udh/src/responder.rs
  rtc_uenclave/auth-sys/build.rs
  rtc_uenclave/auth-sys/src/lib.rs
  rtc_uenclave/data-ocalls/src/lib.rs
  rtc_uenclave/data-sys/build.rs
  rtc_uenclave/data-sys/src/lib.rs
  rtc_uenclave/exec-sys/build.rs
  rtc_uenclave/exec-sys/src/lib.rs
  rtc_uenclave/src/azure_attestation.rs
  rtc_uenclave/src/ecalls.rs
  rtc_uenclave/src/enclaves/rtc_auth.rs
  rtc_uenclave/src/enclaves/rtc_exec.rs
  rtc_uenclave/src/http_client.rs
  rtc_uenclave/src/quote.rs
  rtc_uenclave/src/rtc_enclave.rs
Labels: maintenance
